
	- os
	- numpy as np
	- pandas as pd
	- matplotlib as plt
	- seaborn as sns
	- datetime as dt
	- netCDF4
	- basemap-data-hires

3) Ensure all datetime formats are as yyyy-mm-dd hh:mm:ss - especially check if the data has been exported to Excel (or similar software) at any point.
